<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrated Learning System</title>
</head>
<body>
    <h1>Welcome</h1>
    <div class="container">
        <form action="teacherhome" method="get">
            <input type="submit" value="Continue with your teacher profile">
        </form>
        <form action="studenthome" method="get">
            <input type="submit" value="Continue with your student profile">
        </form>
    </div>
</body>
</html>